<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title>@ViewBag.Titler -MeetingApp</title>
        
        <link rel="stylesheet" href=" /lib/bootstrap/css/bootstrap.min.css"/>
            </head>
<body>
<div class="bg-primary text-whiite p-2 text-center">
    meetingApp3
</div>
<div class="container mt-3">
    <div class="row">
       <div class="col-lg-6 mx-aout text-center">
            <div class="card">
                <dic class="card-boyd">
                             @RenderBody{}
                </dic>
            </div>
       </div>

    </div>
</div>

   
</body>
</html>
