<h1 class="h4">Toplantı KAtılım Formu</h1>
<form action="">

<div class="mb-3">
    <label for="Name" class="form-label">Ad Soyad</label>
    <input type="text" name="Name" id="Name">    
</div>
<div class="mb-3">
    <label for="Name" class="form-label">Telefon</label>
    <input type="text" name="phone" id="phone">    
</div>
<div class="mb-3">
    <label for="Name" class="form-label">E posta</label>
    <input type="text" name="posta" id="posta">    
</div>
<div class="mb-3">
    <label for="Name" class="form-label">Katılım Durumu</label>
    <input type="text" name="WillAttend" id="WillAttend" class="form-select">
    <option value="true">evet</option>    
     <option value="false">hayır</option>    
</div>
<div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" name="Name" id="Name">    
</div>
<div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" name="Name" id="Name">    
</div>



<button class="btn btn-primary" type="submit">Kaydets</button>
</form>