<h1 class="h4">Toplantı KAtılım Formu</h1>
<form action="">

<div class="mb-3">
    <label for="Name" class="form-label">Name</label>
    <input type="text" name="Name" id="Name">
</div>



<button class="btn btn-primary" type="submit">Kaydets</button>
</form>